<section class="h-card" id="h-card">
        <img class="u-photo" src="/static/toast-sit.png" alt="A three tailed fox inside a black hole"/>
        <div>
            <section class="identity">
                <span>
                    <span class="p-honorific-prefix">Mx.</span>
                    <span class="p-given-name">Bee</span>
                </span>
                <span class="p-gender-identity">Genderfluid</span>
                <span class="p-gender-identity">Nonbinary</span>
                <span class="p-gender-identity p-pronouns">
                    <a href="/pronouns">Star/Stars</a>
                </span>
                <abbr class="p-region" title="Australia">AUS</abbr>
            </section>
            <p class="p-note">
                Autistic, Deaf, Disabled.<br>Activist, Artist, Programmer.
            </p>
        </div>
</section>
